# Arquivos compilados
*.exe
*.o
*.out
*.png
*.nbi
*.nbc
*.pyc
# Pastas de output
#output/
build/


# Arquivos do LaTeX
*.aux
*.log
*.toc
*.nav
*.snm
*.bbl
*.blg


# Arquivos de IDE
.vscode/
.idea/

# Sistemas operacionais
.DS_Store
Thumbs.db
# Pasta para testes e experimentos
clone_/
# Pasta 
pyomp/
__pycache__/

# Ficheiros de compilação do LaTeX
*.aux
*.log
*.toc
*.lot
*.lof
*.out
*.nav
*.snm
*.vrb
*.upa
*.fls
*.fdb_latexmk

# Ficheiros temporários e de impressão
*.dvi
*.ps
*.eps
*.pdf
*.synctex.gz
*.csv
# Pacote minted
_minted/

# Ficheiros de backup e de configuração
*.bak
*.swp

# Ficheiros de imagem
*.png
*.jpg
*.jpeg
*.gif
*.svg

